* {
  margin: 0;
  padding: 0;
}

.clicked{
  filter: drop-shadow(0px 0px 8px #f6f6f6);
  border: 1px solid #f6f6f670 !important;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.drop-active {
  border-color: #aaa !important;
}

.drop-target {
  background-color: #333 !important;
  color: #f6f6f6 !important;
  border-color: #f6f6f6 !important;
  border-style: solid !important;
}

.can-drop {
  filter: drop-shadow(-2px 3px 5px #f6f6f6) !important;
}

input[type="radio"] {
    display: none;
}
